body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: rgb(219, 80, 0);
  }
  .question {
    font-size: 1.5em;
    color: white;
  }
  .options {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;;
  }
  
  #result {
    margin-top: 20px;
    font-size: 1.2em;
    color: white;
  }

button,
button *,
button :after,
button :before,
button:after,
button:before {
  border: 0 solid;
  box-sizing: border-box;
}
button {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
}
button:disabled {
  cursor: default;
}
button:-moz-focusring {
  outline: auto;
}
button svg {
  display: block;
  vertical-align: middle;
}
button [hidden] {
  display: none;
}
button {
  background: #fff;
  box-sizing: border-box;
  color: #000;
  display: block;
  font-weight: 900;
  -webkit-mask-image: none;
  padding: 1.2rem 3rem;
  perspective: 800px;
  position: relative;
  text-transform: uppercase;
  transform: rotateY(12deg);
  transform-style: preserve-3d;
  transition: transform 0.2s;
}
button:before {
  background: #eee;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotateY(90deg);
  transform-origin: 0 0;
  width: 20%;
}
button:hover {
  transform: rotateY(20deg);
}
